body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-family: "Microsoft Yahei",sans-serif;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
}
textarea { -webkit-appearance: none;}
html,body,.fillcontain{
  width: 100%;
  height: 100%;
}
.home{
   padding: 20px;
   width: 100%;
}
.home p{
  height: 60px;
  line-height: 60px;
}
.home .comment .commentItem{
   float: left;
   width: 25%;
   text-align: center;
}
.home .comment .commentItem div{
  margin: 5px 0;
  font-size: 20px;
  color: #333;
}
.home .comment .commentItem .num{
  color: #777;
  font-size: 18px;
}
.art{
  margin-top: 20px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.tables{
  margin-top: 20px;
  padding: 0 20px;
}
.el-table th{
  text-align: center;
}
.el-table .cell{
  text-align: center;
}
.userlogo{
  width: 100px;
  height: 100px;
}
.upload{
   margin-bottom: 20px;
}
.upload span{
   color: #606266;
   font-size: 14px;
   float: left;
}
.upload .uploadImg{
    width: 180px;
    height: 180px;
    float: left;
    margin-left: 20px;
    border:1px dotted #dcdfe6;
    position: relative;
}
.upload:after{
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.upload .uploadImg .add{
    font-size: 30px;
    height: 180px;
    line-height: 180px;
    text-align: center;
}
.upload .uploadImg .file{
    position: absolute;
    top: 0;
    width: 180px;
    height: 180px;
    opacity: 0;
}
.upload .uploadImg img{
    display: block;
    height: 180px;
    width: 180px;
}